Python Project

Christopher Rodgers

30 Apr 2024

In [27]:
import pandas as pd
import requests
import matplotlib.pyplot as plt

In [28]:
cost_of_living = pd.read_csv('C:/Users/crodg/Documents/DSE5002/DSE5002/Week 8/Python Project/cost_of_living.csv')
salary_data = pd.read_csv('C:/Users/crodg/Documents/DSE5002/DSE5002/Week 8/Python Project/ds_salaries.csv')

In [29]:
def convert_currency(amount, from_currency, to_currency="USD"):
    base_url = "https://api.exchangerate-api.com/v4/latest/"
    response = requests.get(base_url + from_currency)
    data = response.json()
    if 'rates' in data and to_currency in data['rates']:
        conversion_rate = data['rates'][to_currency]
        converted_amount = amount * conversion_rate
        return converted_amount
    else:
        raise ValueError("Unable to fetch exchange rates or invalid currency codes!")

In [30]:
cost_of_living.dropna(inplace=True)
salary_data.dropna(subset=['salary', 'salary_in_usd'], inplace=True)

In [31]:
combined_data['salary_in_usd'] = salary_data.apply(lambda x: convert_currency(x['salary'], x['salary_currency']), axis=1)

ValueError: Unable to fetch exchange rates or invalid currency codes!

In [ ]:
print(salary_data.columns)

In [ ]:
def adjusted_salary(row, index_name):
    return row['salary_in_usd']/ row[index_name]

In [ ]:
indices = ['Cost of Living Index', 'Rent Index', 'Groceries Index', 'Resturant Price Index', 'Local Purchasing Power Index']
results ={}

In [ ]:
for index in indices:
    combined_data[index + ' Adjusted Salary'] = combined_data.apply(lambda x: adjusted_salary(x, index), axis=1)
    top_cities = combined_data.nlargest(5, index + ' Adjusted Salary')[['City', index, index + ' Adjusted Salary']]
    results[index] = top_cities
    plt.figure()
    plt.bar(top_cities['City'], top_cities[index + ' Adjusted Salary'])
    plt.title(f'Top 5 Cities by Adjusted Salary for {index}')
    plt.xlabel('City')
    plt.ylabel('Adjusted Salary')
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

In [ ]:
for index, data in results.items():
    print(f"Top 5 cities for {index}:")

In [ ]:
print("Results dictionary:", results)
if not results:
    print("The results dictionary is empty.")
else:
    for index, data in results.items():
        print(f"Top 5 cities for {index}:")
        print(data)
        print("\n")